%html
	%head
		%meta{name: "viewport", content: "width=device-width, initial-scale=1"}
		%script{src: "https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit.min.js"}
		%script{src: "https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit-icons.min.js"}

		%link{rel: "stylesheet", href: "/style.css"}
		%link{href: "https://fonts.googleapis.com/css?family=Space+Mono:400,400i", rel: "stylesheet"}
		%link{href: "https://fonts.googleapis.com/icon?family=Material+Icons", rel: "stylesheet"}
		%link{href: "/assets/style/main", rel: "stylesheet"}
		- if @title == nil
			%title= "コメが"
		- else
			%title= "コメが / #{@title}"
	%body
		#content
			= yield
		%footer= "(C) Noah Swanson 2018-2019 | Hosted with \u25b2 Now"
