$primary: #651FFF;
$primary-dark: #6200EA;
$primary-light: #7C4DFF;

$code: #FF5252;
$code-font: "Space Mono", "Roboto Mono", monospace;

$secondary: #00E676;
$secondary-dark: #00C853;
$secondary-light: #69F0AE;

$text-color: #000;
$background-color: #fff; 

$font-body: "Helvetica Neue", Helvetica, "Liberation Sans", Arial, sans-serif;

body {
	color: $text-color;
	background: $background-color;
	padding: 20px;
	font-family: $font-body;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

mark {
	background: $secondary-light;
	color: $text-color;
}

/*
	a {
		color: #7C4DFF;
	}

	a:visited {
		color: #7C4DFF;	
	}

	a:link {
		color: #7C4DFF;	
	}
*/

a:hover {
	color: $primary-light;
	text-decoration: none;
}

pre::selection {
	background: $primary;
	color: white;
}

pre {
	background: black;
	color: $secondary;
}

footer {
	font: 75% $code-font;
	position: fixed;
	text-align: center;
	left: 0px;
	bottom: 15px;
	width: 100%;
}

.code {
	font-family: $code-font;
	color: $code;
	-webkit-font-variant-ligatures: none;
	font-variant-ligatures: none;
}

.code::selection {
	background: $code;
	color: white;
}

.plain-code {
	-webkit-font-variant-ligatures: none;
	font-variant-ligatures: none;
	font-family: $code-font;
}

.blk-code {
	font-family: $code-font;
	-webkit-font-variant-ligatures: none;
	font-variant-ligatures: none;
}

.blk-code::selection {
	background: $primary;
	color: white;
}

header {
	font: 150% $code-font;
	color: $primary;
	margin-bottom: -20px;
}

.italics { font-style: italic; }

.bt-down {
	margin-bottom: -10px;
}
.down {
	margin-bottom: 5px;
}

.left {
	padding-left: 40px;
}

.up {
	padding-top: 20px;
}

*::selection {
	background: $secondary;
	color: #000000;
}
